
<h2>¡Bienvenido Usuario!¡</h2>
<h3> <%= @user.name %> </h3>

<form action="/log_out" method="post">
  <div class="form-group">
    <button type="submit" class="btn btn-default">Log out¡</button>
  </div>
</form>
******************************************************
<form action="/data/<%= @user.id %>" method="post">
  <div class="form-group">
    <button type="submit" class="btn btn-default">Estadisticas de tus juegos¡</button>
  </div>
</form>
******************************************************

<h3> Juega un tema </h3>

<form action="/user/<%= @user.id %>/deck/elected_deck" method="post">
  <% if @all_decks %>
    <% @all_decks.each do |deck| %>
      <input type="checkbox" name="check" value="<%= deck.subject %>"> <%= deck.subject %> <br>
    <%end%>
  <%end%>
  <br>
  <input type="submit" value="Submit">
</form>


